@import url(./styles/backgroundStars.css);
@import url(./styles/buttonStars.css);
@import url(./styles/header.css);
@import url(./styles/home.css);
@import url(./styles/about.css);
@import url(./styles/projects.css);
@import url(./styles/contact.css);
@import url(./styles/keyframes.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --cor_teste_1: rgb(255, 255, 255, 0.5);
  --cor_teste_2: rgb(255, 255, 0, 0.5);
  --gapCards: 100px;
}
/* _________________________________________________________________________ */
/* _________________________________________________________________________ */
.aboutBtn {
  display: none;
}
/* _________________________________________________________________________ */
/* _________________________________________________________________________ */
html {
  scroll-behavior: smooth;
}
svg {
  color: #29076d9a;
  margin-bottom: -4.3px;
}

/* _____________________________________ */
.sections {
  display: flex;
  overflow: clip;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  padding: 2rem;
  color: white;
  /* animation: fadeIn 1s; */

  justify-content: center;
  align-items: center;
}
.html-ico,
.css-ico,
.js-ico {
  font-size: 1.5rem;
}
.html-ico {
  color: #e34f26;
}
.css-ico {
  color: #1572b6;
}
.js-ico {
  color: #f7df1e;
}

.social-media-buttons {
  display: flex;
  gap: 18px;
}

.social-media-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  backdrop-filter: blur(10px);
  font-size: 1.25rem;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 0 12px 4px rgba(200, 200, 200, 0.1);
  transition: box-shadow 0.3s ease;
}

.social-media-buttons a:hover {
  box-shadow: 0 0 12px 8px rgba(200, 200, 200, 0.1);
}
.fa-whatsapp {
  color: #25d366;
}
.fa-instagram {
  color: #ee2a7b;
}
.fa-github {
  color: #fff;
}
.fa-linkedin-in {
  color: #0e76a8;
}
#arrowBox {
  animation: disappearScroll linear;
  animation-timeline: scroll();
  animation-range: 0% 100%;
}
#arrowDown {
  width: 50px;
  position: fixed;
  bottom: 40px;
  left: 50%;
  animation: tobottom 1s alternate infinite;
}
/* _______________________________________________________________________________ */
/* _______________________________________________________________________________ */
/* MOBILE PART */
/* _______________________________________________________________________________ */
/* _______________________________________________________________________________ */

@media (max-width: 768px) {
  .sections {
    flex-wrap: wrap;
  }

  .radioInputs {
    gap: 10px;
  }
  #divHome {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  #textHome {
    align-items: center;
  }
  #fotoDev {
    width: 60%;
  }
  #projects {
    padding-top: 15rem;
  }
  /* _________________________________________________________________________ */
  /* _________________________________________________________________________ */
  #about {
    scroll-margin-top: -75px;
  }
  /* _________________________________________________________________________ */
  /* _________________________________________________________________________ */
  .boxCards {
    flex-direction: column;
  }

  .cardsL,
  .cardsR {
    padding: 0;
    gap: var(--gapCards);
  }
  .cardsR {
    margin-top: var(--gapCards);
  }

  .cL,
  .cR {
    animation: appearUp 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
    view-timeline-inset: 20%;
  }

  #navBarLinks {
    width: 90%;
    font-size: 1rem;
  }
  #navBarLinks ul {
    padding: 0.5rem 5% 0rem 5%;
    gap: 1vw;
  }
  .navLinks i {
    display: block;
  }

  .navLinks span,
  .navLinks.active i {
    display: none;
  }
  .navLinks.active span {
    display: block;
  }
}
