@import url(./styles/backgroundStars.css);
@import url(./styles/header.css);
@import url(./styles/home.css);
@import url(./styles/projects.css);
@import url(./styles/about.css);
@import url(./styles/mobile.css);
@import url(./styles/keyframes.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
:root {
  --cor_teste_1: rgb(255, 255, 255, 0.5);
  --cor_teste_2: rgb(255, 255, 0, 0.5);
}

/* _________________________________________________________________________ */
html {
  scroll-behavior: smooth;
}
/* _________________________________________________________________________ */

.sections {
  display: flex;
  overflow: clip;
  min-height: calc(100vh - 44px);
  width: 100%;
  height: 100%;
  padding: 2rem;
  color: white;
  /* animation: fadeIn 1s; */

  justify-content: center;
  align-items: center;
}
