#projects {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* #projects * {
  border: 1px solid;
} */

#h1Projects {
  padding: 1rem;
  font-size: 24px;
  border-radius: 15px;
  border: 2px solid var(--indigo-eltrico-30);
  backdrop-filter: blur(5px);
  box-shadow: inset 0 0 15px var(--indigo-eltrico-30);
  background: var(--dark-30);
  color: var(--color-contrast);
}

/* _________________________________________________________________________ */

.boxCards {
  position: relative;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 2rem;
  place-items: center;
}
/* ____________________________ */
.carousels-box:nth-child(3) {
  /* transform: scale(0); */
  /* display: none; */
  grid-column: 1 / -1;
  animation: appearUp 1ms ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 30%;
  view-timeline-inset: 20%;
}
.carousels-box {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.carousel-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-contrast);
  color: var(--color-contrast);
  /* border: 1px solid var(--indigo-eltrico-30); */
  text-align: center;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: 600;
  margin: 0 0 12px;
}
.carousel {
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0) 100%
  );
  position: relative;
  width: 100%;
  height: 100%;
  place-items: center;
  display: grid;
  grid-template-rows: 1fr;
  overflow-x: hidden;
}
.carousel > * {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
}
.projects-divs.active {
  pointer-events: auto;
  position: relative;
  z-index: 4;
  transform: scale(1);
}
.projects-divs.back-card {
  transform: translateX(-105%) scaleY(0.65);
  filter: blur(5px);
}
.projects-divs.next-card {
  transform: translateX(105%) scaleY(0.65);
  filter: blur(5px);
}

.btns-card {
  position: absolute;
  z-index: 5;
  top: 55%;
  transform: translateY(-50%);
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  background: var(--gradient-button);
  font-size: 18px;
  transition: filter 0.6s ease;
}
.btns-card:hover {
  filter: brightness(1.3) drop-shadow(0 0 8px rgba(251, 250, 245, 0.4));
}
.btns-card.disable {
  filter: brightness(0.5);
}

.btn-back-card-others,
.btn-back-card-IAs,
.btn-back-card-LPs {
  left: -20px;
}
.btn-next-card-others,
.btn-next-card-IAs,
.btn-next-card-LPs {
  right: -20px;
}
/* ____________________________ */
.projects-divs {
  pointer-events: none;
  transform: scale(0);
  transition: transform 0.4s ease;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  border-radius: 20px;
  /* border: 3px solid rgba(89, 0, 255, 0.5); */
  /* background: var(--background-contrast); */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow:
    inset 0 0 50px 10px rgba(0, 0, 0, 0.1),
    0 0 30px rgba(255, 255, 255, 0.05);
}

.cards {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  width: 100%;
  /* max-width: 500px; */
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px 30px 0 0;
  box-shadow: inset 0 0 15px 5px var(--dark-blue2);
}
.caption-cards {
  width: 100%;
  padding: 0 4%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.caption-cards-title {
  font-weight: 600;
  letter-spacing: 1.5px;
  padding: 4px 0;
}
.caption-languages-div {
  padding: 0 4%;
  gap: 15px;
  display: flex;
}
.caption-languages-div > span {
  font-weight: 700;
  letter-spacing: 1.5px;
  width: 100%;
  max-width: 100px;
  text-align: center;
  border: 2px solid var(--indigo-eltrico-30);
  color: var(--color-contrast);
  padding: 4px 4%;
}

.info-cards {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  text-justify: inter-word;
  hyphens: auto;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  z-index: 5;
  bottom: 0;
  padding: 16px 24px;
  margin: 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-30);
  backdrop-filter: blur(5px);
  border-radius: 20px 20px 0 0;
  width: 100%;
  border: 2px solid var(--indigo-eltrico-30);
  border-bottom: none;
}

/* _________________________________________________________________________ */
/* _________________________________________________________________________ */

.imgCards {
  z-index: -1;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.project-links-box {
  width: 100%;
  gap: 4px;
  display: flex;
  justify-content: space-evenly;
  padding: 8px 4%;
  /* margin: 8px 0 0; */
  background: var(--dark-30);
  backdrop-filter: blur(5px);
  border: 2px solid var(--indigo-eltrico-30);
  border-radius: 0 0 20px 20px;
  border-top: none;
  border-bottom: none;
}
.links-live,
.links-repository {
  width: 40%;
  min-width: 145px;
  padding: 12px;
  gap: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8rem;
  font-weight: 800;
  transition: 0.5s;
}
.links-live {
  background: var(--gradient-button);
  color: var(--floral-white);
}
.links-live > i {
  color: var(--floral-white);
}
.links-repository {
  border: 1px solid var(--floral-white);
  color: var(--floral-white);
}
.links-live:hover,
.links-repository:hover {
  transform: translateY(-4px);
  transition: 0.5s;
}

.links-live > i,
.links-repository > i {
  display: flex;
  font-size: 0.75rem;
}
/* _________________________________________________________________________ */
/* _________________________________________________________________________ */
.cL {
  animation: appearLeft 1ms ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 30%;
  view-timeline-inset: 20%;
}
.cR {
  animation: appearRight 1ms ease-in-out;
  animation-timeline: view();
  animation-range: cover 0% cover 40%;
  view-timeline-inset: 20%;
}
@media screen and (max-width: 1024px) {
  .boxCards {
    grid-template-columns: 1fr;
    gap: var(--gapCards);
    padding: 0;
  }
  .cL,
  .cR {
    animation: appearUp 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
    view-timeline-inset: 20%;
  }
}

@media screen and (max-width: 768px) {
  #projects {
    padding: 32px 0;
  }
  /* _________________________________________________________________________ */
  /* _________________________________________________________________________ */
  .boxCards {
    grid-template-columns: 1fr;
    gap: var(--gapCards);
    padding: 0;
  }
  .carousels-box {
    max-width: 90%;
  }
  .caption-cards {
    font-size: 0.85rem;
  }

  .projects-divs {
    width: 90%;
  }
  .info-cards {
    width: 100%;
    padding: 16px;
    font-size: 0.8rem;
  }

  .cL,
  .cR {
    animation: appearUp 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 30%;
    view-timeline-inset: 20%;
  }
}
