header {
  position: fixed;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: center;
}
.radioInputs {
  overflow: hidden;
  padding: 0.5rem 2rem 0rem 3rem;
  border-radius: 0 0 30px 30px;
  background: #004aad;
  /* box-shadow: 0 0 30px #fafafa; */
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}
.radio > input {
  display: none;
}
.radio > input:checked + .name {
  background: black;
  font-weight: 600;
}
.radio > input + .name:hover {
  color: #fff;
}
.radio > input:checked + .name:hover {
  color: #e8e8e8;
}
.radio > input:checked + .name::after,
.radio > input:checked + .name::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #004aad;
  bottom: 0;
}
.radio > input:checked + .name::after {
  right: -10px;
  border-bottom-left-radius: 300px;
  box-shadow: -5px 5px 0px 5px black;
}
.radio > input:checked + .name::before {
  left: -10px;
  border-bottom-right-radius: 300px;
  box-shadow: 5px 5px 0px 5px black;
}

.name {
  font-weight: bold;
  color: #b3bbea;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem 0.5rem 0 0;
  border: none;
  padding: 0.5rem 1rem;
  transition: all 0.15s ease-in-out;
  position: relative;
}
