@media (max-width: 768px) {
  .sections {
    flex-wrap: wrap;
  }

  .radioInputs {
    gap: 10px;
  }
  #divHome {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  #fotoDev {
    width: 60%;
  }
  #projects {
    padding-top: 15rem;
  }
  .boxCards {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    perspective: none;
  }
  .cardsRight:hover,
  .cardsLeft:hover,
  .cardsCenter:hover {
    transform: scale(1.1);
  }
  /* _________________________________________________________________________ */
  .boxCards2 {
    flex-direction: column;
  }

  .cardsL,
  .cardsR{
    padding: 0;
  } 
  .cardsR {
    margin-top: 200px;
  }
  
  .cL,
  .cR {
    animation: appearUp 1ms ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
    view-timeline-inset: 20%;
  }
}
